.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  max-height: 85vh;   
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  scrollbar-gutter: stable;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 15px;
  color: black;
}

.modal-list {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.modal-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #f5f5f5;
  border: none;
  cursor: pointer;
  color: black;
}

.modal-btn:hover {
  background: #e0e0e0;
}

.modal-btn.selected {
  color: #fff;
  background-color: #dc5f6a;
  border-color: #dc5f6a;
}

.modal-header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.modal-cancel {
  color: #444;
  height: 30px;
  width: 30px;
  stroke-width: 2px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}